.book-card {
  display: flex;
  justify-content: space-between;
  border: black solid;
}

.book-card p {
  width: 25%;
  text-align: center;
}

.container__form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: clamp(200px, 50%, 400px);
  grid-template: repeat(4, 1fr) / 1fr 2fr;
  gap: 20px;
  border: solid black;
  padding: 30px;
}
